# local files
prog
.vscode/
Makefile3
prog2
run.sh
Paralax winter night.zip
flying_dragon-1.1/
sprite
exec
test.c
acm.dot
acm.png
arbre.dot
composantes.dot
composantes.png
graphe.dot
graphe.png
graphe_aretes.dot
graphe_aretes.png
jeudi.c
laby.c
../ilyas/fenetre_essai2
../ilyas/sprite2
../img3.png
../img4.png
../img5.png
../temp.c
../ilyas/animation
modified:   ../ilyas/fenetre_essai
modified:   ../ilyas/kruksal.c
modified:   ../ilyas/sprite
modified:   ../zidhimen/manipfenetre
modified:   ../zidhimen/rendu
modified:   ../zidhimen/spritee
../ilyas
../zidhimen
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
